<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WebLogin</servlet-name>
        <servlet-class>servlet.web.WebLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnicianCreateReport</servlet-name>
        <servlet-class>servlet.web.TechnicianCreateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebLogout</servlet-name>
        <servlet-class>servlet.web.WebLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvincialTargetProduction</servlet-name>
        <servlet-class>servlet.web.ProvincialTargetProduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvincialNotification</servlet-name>
        <servlet-class>servlet.web.ProvincialNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvincialHomepage</servlet-name>
        <servlet-class>servlet.web.ProvincialHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipalDamages</servlet-name>
        <servlet-class>servlet.web.MunicipalDamages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipalProgram</servlet-name>
        <servlet-class>servlet.web.MunicipalProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipalHomepage</servlet-name>
        <servlet-class>servlet.web.MunicipalHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipalPerformance</servlet-name>
        <servlet-class>servlet.web.MunicipalPerformance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAODashboard</servlet-name>
        <servlet-class>servlet.ajax.MAODashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAODamageDetailArea</servlet-name>
        <servlet-class>servlet.ajax.MAODamageDetailArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAODeployedProgramDetail</servlet-name>
        <servlet-class>servlet.ajax.MAODeployedProgramDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAOMonitorCropGrowth</servlet-name>
        <servlet-class>servlet.ajax.MAOMonitorCropGrowth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAOMonitorCropArea</servlet-name>
        <servlet-class>servlet.ajax.MAOMonitorCropArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAOPerformanceBarangay</servlet-name>
        <servlet-class>servlet.ajax.MAOPerformanceBarangay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAOPerformanceFarm</servlet-name>
        <servlet-class>servlet.ajax.MAOPerformanceFarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDatabaseSync</servlet-name>
        <servlet-class>servlet.mobile.MobileDatabaseSync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobilePlantingReportImage</servlet-name>
        <servlet-class>servlet.mobile.MobilePlantingReportImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDamageReportImage</servlet-name>
        <servlet-class>servlet.mobile.MobileDamageReportImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAODashboard</servlet-name>
        <servlet-class>servlet.ajax.PAODashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvincialPerformance</servlet-name>
        <servlet-class>servlet.web.ProvincialPerformance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAOMonitorCropArea</servlet-name>
        <servlet-class>servlet.ajax.PAOMonitorCropArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAOMonitorCropGrowth</servlet-name>
        <servlet-class>servlet.ajax.PAOMonitorCropGrowth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAOPerformanceMunicipality</servlet-name>
        <servlet-class>servlet.ajax.PAOPerformanceMunicipality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAOPerformanceBarangay</servlet-name>
        <servlet-class>servlet.ajax.PAOPerformanceBarangay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAOPerformanceFarm</servlet-name>
        <servlet-class>servlet.ajax.PAOPerformanceFarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvincialDamages</servlet-name>
        <servlet-class>servlet.web.ProvincialDamages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvincialProgram</servlet-name>
        <servlet-class>servlet.web.ProvincialProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAOTargetProduction</servlet-name>
        <servlet-class>servlet.ajax.PAOTargetProduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAODeployedProgramDetail</servlet-name>
        <servlet-class>servlet.ajax.PAODeployedProgramDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileFarm</servlet-name>
        <servlet-class>servlet.mobile.MobileFarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileFarmer</servlet-name>
        <servlet-class>servlet.mobile.MobileFarmer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobilePlot</servlet-name>
        <servlet-class>servlet.mobile.MobilePlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobilePlantingReport</servlet-name>
        <servlet-class>servlet.mobile.MobilePlantingReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileWeeklyPlantingReport</servlet-name>
        <servlet-class>servlet.mobile.MobileWeeklyPlantingReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileProblem</servlet-name>
        <servlet-class>servlet.mobile.MobileProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDamageIncident</servlet-name>
        <servlet-class>servlet.mobile.MobileDamageIncident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDamageReport</servlet-name>
        <servlet-class>servlet.mobile.MobileDamageReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDeployedEvaluation</servlet-name>
        <servlet-class>servlet.mobile.MobileDeployedEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvincialReport</servlet-name>
        <servlet-class>servlet.web.ProvincialReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipalReport</servlet-name>
        <servlet-class>servlet.web.MunicipalReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipalEvaluation</servlet-name>
        <servlet-class>servlet.web.MunicipalEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfViewer</servlet-name>
        <servlet-class>servlet.web.PdfViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAOCreateSurvey</servlet-name>
        <servlet-class>servlet.ajax.PAOCreateSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageViewer</servlet-name>
        <servlet-class>servlet.web.ImageViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncoderProgram</servlet-name>
        <servlet-class>servlet.web.EncoderProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAOPerformanceSummary</servlet-name>
        <servlet-class>servlet.ajax.MAOPerformanceSummary</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebLogin</servlet-name>
        <url-pattern>/WebLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnicianCreateReport</servlet-name>
        <url-pattern>/TechnicianCreateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebLogout</servlet-name>
        <url-pattern>/WebLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvincialTargetProduction</servlet-name>
        <url-pattern>/ProvincialTargetProduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvincialNotification</servlet-name>
        <url-pattern>/ProvincialNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvincialHomepage</servlet-name>
        <url-pattern>/ProvincialHomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipalDamages</servlet-name>
        <url-pattern>/MunicipalDamages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipalProgram</servlet-name>
        <url-pattern>/MunicipalProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipalHomepage</servlet-name>
        <url-pattern>/MunicipalHomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipalPerformance</servlet-name>
        <url-pattern>/MunicipalPerformance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAODashboard</servlet-name>
        <url-pattern>/MAODashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAODamageDetailArea</servlet-name>
        <url-pattern>/MAODamageDetailArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAODeployedProgramDetail</servlet-name>
        <url-pattern>/MAODeployedProgramDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAOMonitorCropGrowth</servlet-name>
        <url-pattern>/MAOMonitorCropGrowth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAOMonitorCropArea</servlet-name>
        <url-pattern>/MAOMonitorCropArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAOPerformanceBarangay</servlet-name>
        <url-pattern>/MAOPerformanceBarangay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAOPerformanceFarm</servlet-name>
        <url-pattern>/MAOPerformanceFarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDatabaseSync</servlet-name>
        <url-pattern>/MobileDatabaseSync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobilePlantingReportImage</servlet-name>
        <url-pattern>/MobilePlantingReportImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDamageReportImage</servlet-name>
        <url-pattern>/MobileDamageReportImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAODashboard</servlet-name>
        <url-pattern>/PAODashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvincialPerformance</servlet-name>
        <url-pattern>/ProvincialPerformance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAOMonitorCropArea</servlet-name>
        <url-pattern>/PAOMonitorCropArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAOMonitorCropGrowth</servlet-name>
        <url-pattern>/PAOMonitorCropGrowth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAOPerformanceMunicipality</servlet-name>
        <url-pattern>/PAOPerformanceMunicipality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAOPerformanceBarangay</servlet-name>
        <url-pattern>/PAOPerformanceBarangay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAOPerformanceFarm</servlet-name>
        <url-pattern>/PAOPerformanceFarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvincialDamages</servlet-name>
        <url-pattern>/ProvincialDamages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvincialProgram</servlet-name>
        <url-pattern>/ProvincialProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAOTargetProduction</servlet-name>
        <url-pattern>/PAOTargetProduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAODeployedProgramDetail</servlet-name>
        <url-pattern>/PAODeployedProgramDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileFarm</servlet-name>
        <url-pattern>/MobileFarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileFarmer</servlet-name>
        <url-pattern>/MobileFarmer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobilePlot</servlet-name>
        <url-pattern>/MobilePlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobilePlantingReport</servlet-name>
        <url-pattern>/MobilePlantingReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileWeeklyPlantingReport</servlet-name>
        <url-pattern>/MobileWeeklyPlantingReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileProblem</servlet-name>
        <url-pattern>/MobileProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDamageIncident</servlet-name>
        <url-pattern>/MobileDamageIncident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDamageReport</servlet-name>
        <url-pattern>/MobileDamageReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDeployedEvaluation</servlet-name>
        <url-pattern>/MobileDeployedEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvincialReport</servlet-name>
        <url-pattern>/ProvincialReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipalReport</servlet-name>
        <url-pattern>/MunicipalReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipalEvaluation</servlet-name>
        <url-pattern>/MunicipalEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfViewer</servlet-name>
        <url-pattern>/PdfViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAOCreateSurvey</servlet-name>
        <url-pattern>/PAOCreateSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageViewer</servlet-name>
        <url-pattern>/ImageViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncoderProgram</servlet-name>
        <url-pattern>/EncoderProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAOPerformanceSummary</servlet-name>
        <url-pattern>/MAOPerformanceSummary</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
